*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
.home{
    height:115vh;
    width:100%;
    background-color:  rgb(3, 105, 105);
    display: flex;
}
nav{
    display: flex;
    color:white;
    background-color: rgb(3, 105, 105);
    min-width:100vw;
    overflow-x: hidden;
    padding-bottom:0.8rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .nav-colored { background-color:#000; }
  .nav-transparent { background-color:rgb(3, 105, 105);}
  
 
.nav-links{
    margin-top: 0.8rem;
    display: flex;
    padding-left:2rem;
}
.nav-link{
    padding-left: 3rem;
    list-style: none;
}
.account{
    margin-top: 0.8rem;
    margin-left: 34rem;
}
.cart{
    background-color: white;
    width:2rem;
    border-radius: 43%;
    padding-top:0.3rem;
    padding-left:.4rem;
    margin-left: 3.8rem;
    margin-top:0.6rem;
    color:black;
}
.logo{
    font-size: 0.8rem;
    margin-top: 0.6rem;
    font-weight: lighter;
    margin-left: 0.5rem;
}
.image img{
    width:65rem;
    height:65vh;
    padding-right: 2rem;
    padding-top: 1rem;
    position: relative;
    right:0%;
    top:10%;
    z-index:1;
}
.big-text{
   position:relative;
   top:17%;
   left:6rem;
   font-size: 1.2rem;
   color:white;
   z-index: 4;
}
.button{
    position: relative;
    top:20%;
    left:6rem;
    z-index: 2;
    padding:1.2rem 2rem;
    color:white;
    border:2px solid white;
    background: transparent;
}
.small-text{
    position: absolute;
    bottom:2rem;
    left:12rem;
    color:white;
    font-weight: 300;
}
.medium-text{
    position: absolute;
    bottom:-11%;
    left:35%;
    color:white;
    background-color: rgb(3, 105, 105);
    padding-top:4.5rem;
    width:100vw;
  
}
.medium-text p{
    font-size: 1.2rem;
   
}
.heading h2{
    text-align: center;
    margin-top:3.5rem;
}
.cards{
    display:flex;
    justify-content: center;
    padding:1.7rem 3rem;
    min-width: 100vw;
}
.card{
    width:18rem;
    margin:2rem;
    color:white;
}
.card .img img{
    width:18rem;
}
.new{
    height:1.2rem;
    width:4rem;
    font-size: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:10rem;
    top:7rem;
    background-color: white;
}
.dp img{
    width:3rem;
    border-radius: 50%;
}
.name span{
    position:relative;
    left:3.8rem;
    bottom: 2.4rem;
}
.dp{
    padding-left: 1.3rem;
}
.price{
    padding-top: 2.8rem;
    padding-left:15rem;
}
.price2{
    padding-top: 4.1rem;
    padding-left:15rem;
}
.workshop-name{
    position: relative;
    bottom:1rem;
    padding-left:1.3rem;
}
.blue{
    background-color: rgb(77, 77, 233);
}
.teal{
    background-color: rgb(3, 105, 105) ;
}
.coral{
    background-color: rgb(240, 92, 38);
}